<nav>
  <% if user_signed_in? %>
    <p><%= link_to "Create post", new_post_path %></p>
    <p><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %></p>
  <% else %>
    <p><%= link_to "Login", new_user_session_path %></p>
    <p><%= link_to "Sign up", new_user_registration_path %></p>
  <% end %>
</nav>

<div class="notice">
  <%= render "shared/notice_authentication_status" %>
</div>

<main>
  <h1>Exclusive Clubhouse</h1>
  <% @posts.each do |post|%>
  <div class="post">
    <h2><%= post.title %></h2>
    <p class="author">Author: 
      <% if user_signed_in? %>
      <%= User.find(post.user_id).name %>
      <% else %>
      *******
      <% end %>
    </p>
    <p class="post-body"><%= post.body %></p>
  </div>
  <% end %>
</main>